@import 'config';

.navbar{
  overflow: hidden;
  height: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: $color-primary-2;
  font-style: $fontFam;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  h1 {
    color: #f1f1f1;
    margin-top: 0.75rem;
    margin-left: 2rem;
    a {
      color: #f1f1f1;
      text-decoration: none;
    }
  }
  ul {
    justify-self: end;
    li {
      padding-right: 2rem;
      list-style-type: none;
      display: inline;
      a {
        color: #f1f1f1;
        text-decoration: none;
        font-size: 18px;
        padding-right: 15px;
      }
    }
  }

}
body {
  background-color: #ccc;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  height: 100%;

  .appWindow {
    margin-top: 3rem;
    background-color: #f1f1f1;
    padding: 2rem;
    border-radius: 1rem;
    height: 30rem;
    
    //Inner Container
    #messageList{
      padding: 1rem;
      border-radius: 1rem;
      background-color: #f1f1f1;
      height: 80%;
      overflow-y: auto;
      overflow-x: hidden;

      .chatbotMessage {
        padding: 10px;
        margin-left: 10px;
        margin-right: 35%;
        margin-bottom:10px;
        border: 2px solid #dedede;
        background-color: #c91f26;
        border-radius: 25px;
        font-size: 110%;
        font-family: sans-serif;
        color: #f1f1f1
      }

      .choiceButton {
        padding: .5rem;
        margin-right: .25rem;
        border-radius: .25rem;
        background-color: $color-primary-2;
        font-size: 15px;
        color: #f1f1f1;
      }

      .userMessage {
        padding: 10px;
        margin-left: 35%;
        margin-right: 10px;
        border: 2px solid #dedede;
        background-color: #ffffff;
        border-radius: 25px;
        font-size: 110%;
        font-family: sans-serif;
        color: black
      }
    }
    #messageBox {
      margin: 1rem 0;
      height: 2rem;
      width: 89%;
      font-size: 110%;
    }
    #sendButton {
      float: right;
      padding: 0.5em;
      margin: 1rem 0;
      border-radius: .25rem;
      background-color: $color-primary-2;
      text-decoration: none;
      font-size: 15px;
      color: #f1f1f1;
      font-size: 110%;
    }
  }
}
