$color-primary-0: #B01E24; /* Main Primary color */

html, body, .fullscreen {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

body {
  .fullscreen {
    display: grid;
    grid-template-columns: 1fr 65% 1fr;
    grid-template-rows: min-content minmax(0, 1fr) min-content;
    background-color: #ccc;

    > .navbar {
      grid-column: 1 / 4;
      grid-row: 1 / 2;
      padding: .5rem;
      background-color: $color-primary-0;
      font-size: 180%;
      width: 100%;
      color: #f1f1f1;
    }

    > .appWindow {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      display: grid;
      grid-template-columns: 20fr 70fr 10fr;
      grid-template-rows: 5fr 90fr 5fr;
      row-gap: 10px;
      background-color: #f1f1f1;
      margin: 2rem 4rem;
      padding: 1rem 2rem;
      border-radius: 1rem;
      
      > #changeTopicButton {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        padding: 0.5em;
        border-radius: .25rem;
        background-color: #333333;
        color: #f1f1f1;
        font-size: 110%;
      }
  
      > #messageList {
        grid-column: 1 / 4;
        grid-row: 2 / 3;
        width: 100%;
        padding: 1rem;
        border-radius: 1rem;
        overflow: auto;
  
        > .choicesContainer {
          margin-right: 35%;

          > .choiceButton {
            padding: .5rem;
            margin-right: .25rem;
            margin-bottom: 10px;
            border-radius: .25rem;
            background-color: $color-primary-0;
            font-size: 110%;
            color: #f1f1f1;
          }
        }
  
        > .chatbotMessage {
          padding: 10px;
          margin-left: 10px;
          margin-right: 35%;
          margin-bottom: 10px;
          border: 2px solid #dedede;
          background-color: #c91f26;
          border-radius: 25px;
          font-size: 110%;
          font-family: sans-serif;
          color: #f1f1f1;

          /* Links given by the Chatbot. */
          > p > a, > p > a:hover, > p > a:active, > p > a:visited {
            color: #f1f1f1;
          }
        }

        > .systemMessage {
          padding: 10px;
          margin-bottom: 10px;
          border: 2px solid #DFDFDF;
          background-color: #cccccc;
          font-size: 110%;
          font-family: sans-serif;
          font-style: italic;
          text-align: center;
          color: #555555;
        }
  
        > .userMessage {
          padding: 10px;
          margin-left: 35%;
          margin-right: 10px;
          margin-bottom: 10px;
          border: 2px solid #dedede;
          background-color: #ffffff;
          border-radius: 25px;
          font-size: 110%;
          font-family: sans-serif;
          color: black
        }
      }

      > #messageBox {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
        font-size: 110%;
      }
  
      > #sendButton {
        grid-column: 3 / 4;
        grid-row: 3 / 4;
        padding: 0.5em;
        border-radius: .25rem;
        background-color: $color-primary-0;
        text-decoration: none;
        color: #f1f1f1;
        font-size: 110%;
      }
    }

    > .footer {
      grid-column: 1 / 4;
      grid-row: 3 / 4;
    }
  }
}
